body
{
    background-color: black;
}

.item
{
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
}

.item a
{
    color: #6C91BF;
}

.item a:hover
{
    color: #aeff18
}

.logo
{
    color: #6C91BF;
}

.logo:hover
{
    color: #aeff18;
}

.carouseltop
{
    margin-top: 10px;
}

.coverimg
{
    width:80%;
    height:30%;
}

.carousel-caption
{
    color: white;
    font-size: x-large;
}

.teams
{
    margin-top: 10px;
}

.teamcontent
{
    margin-top: 10px;
    background-color: black;
    color: white;
    border-style:solid ;
    border-width: thick;
    border-color: #aeff18;
}

.title
{
    color: white;
    margin-top: 100px;
}

.extrabtn
{
    background-color: #aeff18;
    color: #6C91BF;
}

.extrabtn:hover
{
    background-color: #6C91BF !important;
    color: #aeff18 !important;
    border-style:solid ;
    border-width: thin;
    border-color: #aeff18;
}

